/* The fade in animation we want. */
@-webkit-keyframes fullname {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes fullname {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* The animation to slide the header down into view. */
@-webkit-keyframes header {
  from {
    top: -20%;
    border-bottom: 2px solid brown;
  }
  to {
    top: 0%;
    border-bottom: 2px solid brown;
  }
}

@keyframes header {
  from {
    top: -20%;
    border-bottom: 2px solid #dbd7d2;
  }
  to {
    top: 0%;
    border-bottom: 2px solid #dbd7d2;
  }
}

/* The animations to slide things from the right and the left in our timeline. */
@keyframes slide_right {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes left_slide {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


html, body {
  width: 100%;
  height: 100%;
  /*  Allows for smooth-scrolling  */
  scroll-behavior: smooth;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

/* Charcoal background on main page */
#container_fluid {
  background-image: url("Background Charcoal.png");
}

.justify-content-center {
  width: 100%;
  height: 100%;
}

/* main heading */
.align-self-center h1 {
  color: #F1F0EA;
  font-size: 9vw;
  font-family: "Lucida Console", monospace, Calibri, Arial, Verdana;
  line-height: normal;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

/* The icons that are links. */
.align-self-center i {
  line-height: normal;
  color: #F1F0EA;
  font-size: 4vw;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

/* Some specific editing we do to the resume and gmail icons to not look out of place */
.align-self-center #Resume {
  font-size: 3.5vw;
}

.align-self-center #Gmail {
  font-size: 5vw;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.navbar-nav a {
  position: relative;
  margin-left: 2%;
}

/* Underline effect when selecting an element in our mobile navbar */
.navbar-nav a::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  border-radius: 0.5em;
  background-color: #353535;
  width: 0;
  left: 50%;
  bottom: 2%;
  transition: 0.5s linear;
}

.navbar-nav a:hover::after {
  width: 99%;
  left: -0.5%;
}


#navbar {
  /* No extra margin or padding, all in our li and a elements */
  padding: 0;
  /* Remove bullets before */
  list-style-type: none;
  background-color: #F1F0EA;
  color: #353535;
  /* Keep it fixed at the top as we scroll down */
  position: fixed;
  /* Attached to the roof, and width is that of the browser */
  top: 0%;
  width: 100%;
  /* Takes precedence over the image elements that have positive z indexes */
  z-index: 2;
  /* Our css animation that slides down the header when the page loads. */
  -webkit-animation: header 0.4s both linear;
          animation: header 0.4s both linear;
}

#navbar li {
  float: right;
  padding: 2px 0px;
}

#navbar li a {
  color: #353535;
  padding: 6px 4px;
  font-size: 1.3em;
  /* Remove underline */
  text-decoration: none;
  border-radius: 0.25em;
  /*
  Allows for a color change that fades from one to the other, when
  hovering over and off the a tags.
   */
  position: relative;
  -webkit-transition: background-color 0.3s 0.15s linear;
  -o-transition: background-color 0.3s 0.15s linear;
  transition: background-color 0.3s 0.15s linear;
}

#navbar li a:hover {
  font-weight: bold;
  background-color: #dbd7d2;
}

/* What is responsible for our underline. */
#navbar li a:after {
  content: '';
  display: block;
  background: #353535;
  width: 0%;
  left: 50%;
  height: 0.18em;
  border-radius: 2em;
  position: absolute;
  bottom: 0px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

/*
This was originally done using the underlinee animation at the start. However,
I found a solution using transitions, that allow the underline to slide back
off. The code is found here: https://codepen.io/jstn/pen/zuDst
 */
#navbar li a:hover:after {
  width: 100%;
  left: 0;
}

/*
We have to maunally state the properties again, as this class is toggled on
and off. When this happens, if not everything is re-declared, some strange
things happen to the navbar.
 */
.navigation {
  display: block;
  background: transparent;
  color: #F1F0EA;
  border-bottom: none;
  padding: 0 0 1px 0;
  list-style-type: none;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 2;
  -webkit-animation: fullname 1s both linear;
          animation: fullname 1s both linear;
}

.navigation li {
  float: right;
  /* Make up for the underline */
  padding: 3px 0px;
}

.navigation li:first-child {
  /* Have it in line with the bar on the bottom. */
  margin-right: 2%;
}

/*  The bar on the bottom. */
.navigation::after {
  content: '';
  display: block;
  margin: auto;
  width: 96%;
  height: 0.2em;
  border-radius: 0.2em;
  background-color: #F1F0EA;
  position: relative;
  top: 3em;
}

/* The links at the top have different padding. */
.navigation li a {
  color: inherit;
  padding: 7px 10px;
  font-size: 1.3em;
  position: relative;
  /* Remove underline */
  text-decoration: none;
  border-radius: 0.25em;
  /*
  Allows for a color change that fades from one to the other, when
  hovering over and off the a tags.
   */
  -webkit-transition: background-color 0.3s 0.15s linear;
  -o-transition: background-color 0.3s 0.15s linear;
  transition: background-color 0.3s 0.15s linear;
}

.navigation li a:hover {
  font-weight: bold;
}

/* The underline on the hover is styled here. */
.navigation li a:after {
  content: '';
  background: #F1F0EA;
  display: block;
  width: 0%;
  left: 50%;
  height: 0.1em;
  border-radius: 2em;
  position: absolute;
  bottom: 3px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.navigation li a:hover::after {
  width: 90%;
  left: 5%;
}

#last_child::after {
  bottom: 4%;
}

.row.justify-content-around.d-none.d-sm-flex {
  width: 60%;
}

/* Manually edited the tooltip on the charts, found here:
https://stackoverflow.com/questions/45142164/google-charts-how-to-increase-width-of-tooltip */
.google-visualization-tooltip-item {
  white-space: normal;
  max-width: 400px;
}

/* Set background color of second secttion */
#collapse_menu {
  background-color: #F1F0EA;
}

/* The accordion */
#accordion {
  width: 80%;
  padding-top: 1%;
  padding-bottom: 4%;
  background-color: #F1F0EA;
}
/* The '+' or '-' button on the accordion. */
#accordion button {
  color: #353535;
  font-size: 1.5em;
  line-height: 0.5;
  text-decoration: none;
}

#accordion button:hover, #accordion button:active, #accordion button:visited {
  text-decoration: none;
}

/* The collapsing elements in the accordion */
.card {
  background-color: #F1F0EA;
}

.card::before, .last_card::after {
  content: '';
  width: 100%;
  border-radius: 0.5em;
  height: 5px;
  background-color: #353535;
  opacity: 0.9;
}

.card-header {
  background-color: #F1F0EA;
}

/* The border that shows when a collapsable item collapses toggled on and off with these 2 classes*/
.border_on {
  border-bottom-width: 4px;
}

.border_off {
  border-bottom-width: 0;
}

.mb-0 {
  font-size: 2.2em;
}

/* The headers inside the accordion. */
.section_header {
  font-size: 4em;
  font-weight: bold;
  font-family: "Lucida Console", monospace, Arial, Calibri, Verdana, Helvetica;
  padding-top: 1.5%;
  padding-bottom: 0;
}

.card-body h5 {
  font-size: 1.8vw;
}

.card-body p, p.card-body {
  font-size: 1.2em;
  margin-bottom: 0;
}

/* The list of skills with stars next to them. */
#small_screen {
  color: #353535;
}

/* The skill listed on the left */
#small_screen h5 {
  font-size: 4vw;
  font-weight: normal;
}
/* The star on the right */
#small_screen span {
  width: auto;
  float: right;
  font-size: 5vw;
}
/* The half star we designed. */
.half-star {
  background: linear-gradient(to right, black 50%, #A9A9A9 50%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
/* The gray-star, symbolizing empty stars. */
.gray {
  color: 	#A9A9A9;
}
/* The first element in the timeline section has id timeline, we give it this margin to avoid having it touch the bottom-border. */
#timeline {
  margin-top: 3%;
}
/* The dots on the timeline */
.right::before {
  content: '';
  position: absolute;
  left: -9px;
  top: -6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: block;
  background-color: #353535;
}
/* The line on the timeline. */
.right {
  border-left: 4px solid #353535;
  padding-left: 20px;
}
/* The text is transparent until brought in. */
.opaque {
  opacity: 0;
}
/* Classes to slide the elements in from the right and left. */
.slide_in {
  animation: slide_right 0.5s ease-out;
}

.slide_left {
  animation: left_slide 0.5s ease-out;
}
/* Styling the text sections in the timeline, here and in the following. */
.left h6, .left p {
  margin-left: 3%;
}

.left h6, .right h6 {
  font-weight: bold;
}
/* The text size in the timeline sections. */
#collapseTHREE {
  font-size: 1.2em;
}

#collapseTHREE h6 {
  font-size: 1em;
}
/* Styling the tooltip here and in the next rule. */
.tippy-box {
  background-color: #F1F0EA;
  color: #353535;
}

.tippy-box > .tippy-arrow::before {
  color: #F1f0EA;
}
/* Sometimes we will have text we emphasize by putting them in span tags and styling them, with this: the TL;DR text for example. */
.link {
  background-color: #dbd7d2;
  border-radius: 0.25em;
  padding: 2px 4px;
}

.luc_console {
  font-family: "Lucida Console", monospace, Calibri, Arial, Verdana, Helvetica;
}
/* The projects section. */
#third_page {
  background-color: #353535;
  color: #F1F0EA;
}
/* Styling the sections where we talk about the projects */
.projects {
  width: 85%;
  height: auto;
}
/* The lines separating different projects, styled here. Done with this because we can give it a border radius, making it look less sharp. */
.projects::before, .last_project::after {
  content: '';
  width: 100%;
  border-radius: 0.5em;
  height: 2px;
  background-color: #F1F0EA;
  opacity: 0.65;
}

.dino {
  max-width: 100%;
}

#database_icon {
  max-width: 90%;
}
/* The code for the buttons here. */
.button, .button:visited {
  border-radius: 0.4em;
  background-color: #353535;
  border: 2px solid #F1F0EA;
  color: #F1F0EA;
  transition: 0.25s linear;
  font-size: 1.25em;
  padding: 4px 8px;
  text-decoration: none;
}
/* Reverse color, and it transitions to this. */
.button:hover, .button:visited:hover {
  color: #353535;
  background-color: #F1F0EA;
  text-decoration: none;
}
/* Styling the text in the projects section. */
.projects p {
  font-size: 1.15em;
}

.projects strong {
  font-size: 1.2em;
}
/* The contact section only accessed by mobile devices. */
#fourth_page {
  background-color: #F1F0EA;
  color: #353535;
}
/* This is done to get the items to line up. */
#fourth_page i:first-of-type {
  margin-right: 15%;
  transform: translateY(-1%);
}

#mobile_linkedin {
  font-size: 20vw;
  color: #353535;
}

@media (max-width: 420px) {
  .right {
    border-width: 3px;
    margin-left: 3%;
  }

  .card-body p, p.card-body {
    font-size: 4vw;
  }

  #collapseTHREE {
    font-size: 4vw;
  }
}

@media (max-width: 320px) {
  .card-header {
    padding: 12px 15px;
  }

  .card-body {
    padding: 15px;
  }

  #skills_section {
    padding: 10px 15px;
  }
  .right {
    border-width: 3px;
  }
}

@media (max-width: 576px) {
  .align-self-center h1 {
    content: "Sailesh\n Sikdar"
    width: 80%;
    font-size: 30vw;
    text-align: center;
    margin-left: 5%;
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    transform: translateY(1%);
  }

  .align-self-center h1::after {
    width: 20em;
    height: 4px;
    content: '';
    background-color: #F1F0EA;
    margin-left: 10%;
    margin-right: auto;
    border-radius: 1px;
    position: absolute;
    bottom: -8%;
    left: 0%;
  }

  #accordion {
    width: 85%;
    padding-bottom: 8%;
  }

  .mb-0 {
    font-size: 6vw;
  }

  #skills_section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .projects {
    width: 95%;
  }

}

@media (max-width: 1200px) {
  .row.w-100 {
    margin-left: 5%;
    padding-right: 7%;
  }
}

@media (max-width: 992px) {
  .navigator {
    display: none;
  }

  #tic_tac_toe {
    width: 45%;
  }

  #database {
    content: url('Database Icon.png')
  }
}

@media (max-width: 768px) {
  .row.justify-content-around.d-none.d-sm-flex.mx-auto {
    width: 80%;
  }

  .row.justify-content-around.d-none.d-sm-flex.mx-auto i {
    font-size: 1.7em;
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);
  }

  .row.justify-content-around.d-none.d-sm-flex.mx-auto #Resume {
    font-size: 1.6em;
  }
  .row.justify-content-around.d-none.d-sm-flex.mx-auto #Gmail {
    font-size: 2.2em;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  .align-self-center h1 {
    font-size: 18vw;
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
  }

  .align-self-center h1::after {
    width: 70%;
    height: 4px;
    content: '';
    background-color: #F1F0EA;
    margin-left: 15%;
    margin-right: auto;
    border-radius: 1px;
    position: absolute;
    bottom: -8%;
    left: 0%;
  }

  .section_header {
    padding-top: 3%;
  }

  #timeline {
    margin-top: 20px;
  }

  .projects {
    width: 90%;
  }

  #tic_tac_toe {
    max-width: 65%;
  }

  #database_icon {
    max-width: 50%;
  }
}

@media (max-width: 650px) {
  #database_icon {
    max-width: 60%;
  }
}

@media (max-width: 576px) {
  .card-body p, p.card-body {
    font-size: 4vw;
  }

  #collapseTHREE {
    font-size: 4vw;
  }

  .projects h1 {
    font-size: 8vw;
  }

  .projects p {
    font-size: 3.5vw;
  }

  .projects strong {
    font-size: 3.8vw;
  }

  .button {
    font-size: 3.5vw;
    padding: 3px 6px;
  }

  #tic_tac_toe {
    width: 80%;
  }

  #database_icon {
    max-width: 70%;
  }

  .section_header {
    font-size: 12vw;
    padding-top: 4%;
    padding-bottom: 1%;
  }

  .dino {
    width: 95%
  }
}

@media (max-width: 500px) {
  #database_icon {
    max-width: 75%;
  }
}

@media (max-width: 420px) {
  #small_screen h5 {
    font-size: 4.5vw;
    padding: 3px 0px;
  }

  #small_screen span {
    font-size: 5.5vw;
    padding: 2px 0px;
  }

  .card::before, .last_card::after {
    height: 3px;
  }

  .card-body p, p.card-body {
    font-size: 4.5vw;
  }

  #collapseTHREE {
    font-size: 4.5vw;
  }

  .projects h1 {
    font-size: 9vw;
  }
  .projects p {
    font-size: 4.5vw;
  }

  .projects strong {
    font-size: 4.7vw;
  }

  .button {
    font-size: 4.5vw;
    padding: 3px 6px;
  }

  #tic_tac_toe {
    width: 85%;
  }

  #database_icon {
    max-width: 95%;
  }

  .dino {
    width: auto;
  }

  #dino {
    content: url('Mobile Dino Sprite.png');
  }

  .right::before {
    width: 10px;
    height: 10px;
    left: -2.5%;
    top: -5px;
  }
  
  #accordion button, #accordion button:hover, #accordion button:active, #accordion button:visited {
    transform: translateY(20%);
  }
}

@media (max-width: 320px) {
  .card-body p, p.card-body {
    font-size: 5vw;
  }

  #collapseTHREE {
    font-size: 5vw;
  }

  .projects h1 {
    font-size: 10vw;
  }

  .projects p {
    font-size: 5vw;
  }

  .projects strong {
    font-size: 5.2vw;
  }

  .button {
    font-size: 5vw;
    padding: 3px 6px;
  }

  #tic_tac_toe {
    width: 90%;
  }

  #fourth_page {
    font-size: 6vw;
  }

  #moblile_contact_menu {
    width: 100%;
  }

  #moblile_contact_menu img {
    width: 90px;
    height: 60px;
  }

  #small_screen h5 {
    font-size: 5vw;
    padding: 2px 0px;
  }

  #small_screen span {
    font-size: 6vw;
    padding: 1px 0px;
  }

  .right::before {
    width: 10px;
    height: 10px;
    left: -3%;
    top: -5px;
  }
}
