/*
Width in the after element of the a tags in the navbar is 0% by default.
Send the width to 102%. Except that this start it from left to right. So this
looks like:
hello
-
hello
--
hello
---
hello
----
hello
-----

Starting it from left of 50% and going to 0% while increasing the width gives us
the effect of starting out from the middle. With the words above the lines, it
now looks like:
  -
 ---
-----
*/
@keyframes underline {
  from{left: 50%;
      width: 0;}
  to{width: 102%;
     left: 0%;}
}

/* Opacity 0 to 1 allows for a fade in effect. */
@keyframes fullname {
  from{
    /* display: block; */
    /* visibility: visible; */
    opacity: 0;
  }
  to{
    /* display: block; */
    /* visibility: visible; */
    opacity: 1;
  }
}

/* Puts it out of site at first, then slides it to where it's in sight. */
@keyframes header {
  from {
    top: -20%;
    border-bottom: 1px solid #dbd7d2;
  }
  to {
    top: 0%;
    border-bottom: 1px solid #dbd7d2;
  }
}

/* Our animation for the second header */
@keyframes slide_left {
  from {
    visibility: visible;
    transform: translateX(-150%);
  }
  to {
    visibility: visible;
    transform: translateX(0%);
  }
}

@keyframes slide_right {
  from {
    visibility: visible;
    transform: translateX(150%);
  }
  to {
    visibility: visible;
    transform: translateX(0%);
  }
}

@keyframes slide_middle {
  from {
    visibility: visible;
    transform: translateX(-225%);
  }
  to {
    visibility: visible;
    transform: translateX(0%);
  }
}

@keyframes flip {
  from {
    visibility: visible;
    transform: rotateY(90deg);
  }
  to {
    visibility: visible;
    transform: rotateY(0deg);
  }
}

@keyframes modal {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes {
  0% {
    display: none;
  }
  1% {
  }
}
/*
This allows us to specify height of child elements in the body tag in
terms of percentage.
*/


html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

/*
Allows us to set width of chlidren of the body to the full width of the browser,
also we set our fonts here for convenience.
*/
body {
margin: 0px 0px 0px 0px;
font-family: "Lucida Console", Monospace, Calibri, Arial, Verdana;
overflow-x: hidden;
}

#navbar {
  /* No extra margin or padding, all in our li and a elements */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* Remove bullets before */
  list-style-type: none;
  background-color: #F1F0EA;
  /* Keep it fixed at the top as we scroll down */
  position: fixed;
  /* Attached to the roof, and width is that of the browser */
  top: 0%;
  width: 100%;
  /* Takes precedence over the image elements that have positive z indexes */
  z-index: 2;
  /*
  Allows for the navbar to be distinguishable from parts of the page
  with the same color.
  */
  border-bottom: 1px solid #dbd7d2;
  /* Our css animation that slides down the header when the page loads. */
  animation: header 0.5s both linear;
}

#navbar li {
  background-color: #F1F0EA;
  color: #353535;
  float: right;
  /* Allows us to have centered li elements in the navbar*/
  display: flex;
  align-items: center;
  /* Make up for the underline */
  padding: 3px 0px 4px 0px;
}

#navbar li a {
  background-color: #F1F0EA;
  color: #353535;
  padding: 7px;
  font-size: 1.3vw;
  display: block;
  /* Remove underline */
  text-decoration: none;
  border-radius: 0.25vw;
  /*
  Allows for a color change that fades from one to the other, when
  hovering over and off the a tags.
   */
  transition: background-color 0.5s 0.25s linear;
}
/* F1F0EA  F2F3F4 f5f5f5 text-decoration 1s, font-weight 1s*/

#navbar li a:hover {
  font-weight: bold;
  background-color: #dbd7d2;
  /* Make up for the underline. */
  padding-bottom: 1px;
}

#navbar li a::after {
  content: '';
  /*
  When displaying a block element, a new line is taken up, offsetting the
  centering of the a tags.
   */
  display: none;
  background-color: #353535;
  width: 0%;
  height: 0.2em;
  border-radius: 0.5vw;
  position: relative;
  top: 4px;
             /* underline 1s reverse; */
}

#navbar li a:hover::after {
  /* position: relative; */
  display: block;
  background-color: #353535;
  /* animation: underline 1s forwards; */
  animation: underline 1s normal forwards;
  /* animation-play-state: paused; */
}


/* Code for our Image and the name hovering over it.*/
#Header {
  margin-top: 0px;
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: relative;
  background-image: url("Mountain Top.jpg");
  background-size: cover;
  margin-bottom: 0px;
  animation: fullname 1.5s 0.5s linear both;
}

#translucent_layer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: 0.75s;
}

div #translucent_layer:hover {
  background-color: rgba(255,255,255,0.6);
  color: #353535;
}

h1 {
font-size: 5vw;
  /* position: absolute;
  top: 15%;
  left: 30%; */
  color: #353535;
  z-index: 2;
  margin-bottom: 10%;
  /* transition: inherit; */
  /* display: none; */
  /* visibility: hidden; */
  animation-name: fullname 1.5s 2s forwards linear;
}
#about_section {
  margin-bottom: 0;
  background-color: #F1F0EA;
  font-family: "Lucida Console";
  width: 100%;
  height: 50vw;
  color: #353535;
  padding-top: 1px;
  position: relative;
  padding-bottom: 2%;
}

#about_section h2 {
  margin-top: 3%;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 1%;
  text-decoration: none;
  /* transform-box: border box; */
  /* visibility: hidden; */
  /* animation: slide_right 0.75s both linear; */
  /* animation-play-state: paused; */
}

#right {
  background-color: white;
  width: 20%;
  /* height: 15vw; */
  padding: 1%;
  margin-top: 5%;
  margin-right: 3%;
  margin-bottom: 2%;
  font-size: 1.4vw;
  font-family: "Calibri";
  position: absolute;
  right: 5%;
  /* bottom: 5%; */
  top: 15%;
  box-shadow: 5px 5px 12px black;
  /* visibility: hidden; */
  /* animation: slide_right 0.4s both linear; */
  /* animation-play-state: paused; */
}

#right ul {
  display: block;
  /* background-color: darkgray; */
  font-size: 1.5vw;
  padding-left: 8%;
  padding-top: 0%;
  padding-bottom:  0%;
  margin-top: 1%;
  margin-left: 4%;
  margin-bottom: 0%;
}

#about_section h3 {
  text-align: center;
  /* background-color: darkgray; */
  font-size: 2vw;
  padding: 0;
  margin: 0;
  /* margin-bottom: 0; */
}

#left {
  width: 30vw;
  padding: 1% 2% 1.5% 2%;
  /* padding-top: 1%;
  padding-bottom: 1.5%; */
  /*margin: auto;*/
  margin-top: 1%;
  margin-left: 5%;
  font-size: 1.5vw;
  font-family: "Calibri";
  float: left;
  background-color: white;
  box-shadow: 5px 5px 12px black;
  /* visibility: hidden; */
  /* animation: slide_left 0.4s both linear; */
  /* animation-play-state: paused; */
}

#left h3 {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 2%;
  margin-top: 0;
}

#left p {
  margin-top: 1%;
  margin-bottom: 0;
}

#middle {
  width: 30vw;
  padding: 1% 2% 1.5% 2%;
  /* padding-top: 1%;
  padding-bottom: 1.5%; */
  /* float: left; */
  /*margin: auto;*/
  margin-top: 27%;
  /* margin-left: 20%; */
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  font-family: "Calibri";
  background-color: white;
  box-shadow: 5px 5px 12px black;
  /* animation: slide_middle 0.45s both linear; */
  /* animation-play-state: paused; */
  /* visibility: hidden; */
}

#middle h3 {
  margin-bottom: 0%;
  /* margin-top: 0; */
}

#middle p {
  margin-top: 0%;
  margin-bottom: 0;
}

#line_through {
  text-decoration: line-through;
}

#projects {
  width: 100%;
  height: 30vw;
  background-color: #353535;
  color: #F1F0EA;
  font-family: "Lucida Console";
  margin-top: 0%;
  padding-top: 1px;
}

#projects h3 {
  text-align: center;
  font-size: 3vw;
  margin-top: 1vw;
  /* visibility: hidden; */
  /* animation: slide_right 0.75s both linear; */
  /* animation-play-state: paused; */
}

#projects p {
  font-size: 1.5vw;
}

.panel {
  width: 20%;

  float: left;
  color: #353535;
  background-color: white;
  font-family: Calibri;
  border-radius: 1%;
  box-shadow: 5px 5px 12px black;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  /* height: 10%; */
}

.panel h4 {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2vw;
  text-align: center;
}

.panel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/* .panel p {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1vw;
  text-align: center;
} */

#panel_1 {
  margin-left: 8%;
  margin-right: 5%;
  padding-left: 0.01%;
  padding-right: 0.01%;
  /* visibility: hidden; */
  /* animation: flip 0.3s 0.8s linear both; */
  /* animation-play-state: paused; */
}

#panel_2 {
  margin-left: 2%;
  margin-right: 2%;
  width: 24%;
  /* padding-left: 2%;
  padding-right: 2%; */
  /* visibility: hidden; */
  /* animation: flip 0.3s 1.1s linear both; */
  /* animation-play-state: paused; */
}

#panel_3 {
  margin-left: 5%;
  margin-right: auto;
  /* visibility: hidden; */
  /* animation: flip 0.3s 1.4s linear both; */
  /* animation-play-state: paused; */
}

.panel button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 60%;
  max-width: 95px;
  color: #353535;
  border: 2px solid #353535;
  border-radius: 7%;
  font-size: 1vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  transition: background-color 0.2s 0.2s linear,
              color 0.2s 0.2s linear;
}

.panel button:hover {
  background-color: #353535;
  color: white;
  cursor: pointer;
}

.panel img {
  border: 1px solid #353535;
  border-radius: 1%;
}

#Modal {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  /* display: none; */
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  animation: modal 0.5s 0.2s linear both;
  animation-play-state: paused;
}

#modal_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 60%;
  max-width: 95px;
  color: #353535;
  border: 2px solid #353535;
  border-radius: 7%;
  font-size: 1vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  transition: background-color 0.2s 0.2s linear,
              color 0.2s 0.2s linear,
              border 0.2s 0.2s linear;
}

#modal_button:hover {
  cursor: pointer;
  background-color: #353535;
  color: white;
  border: 1px solid white;
}

#modal_button:active {
  cursor: pointer;
  background-color: #353535;
  color: white;
  border: 1px solid white;
}

#info_panel_wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

#panel_2_pop_up {
  position: fixed;
  /* margin-top: auto;
  margin-bottom: auto; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 5;
}
